html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col.col1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 5rem;
}

.col.col1 img {
  width: 50%;
}

.col.col1 .weather {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  direction: row-reverse;
}

.col.col1 .weather img {
  width: 80%;
}

.col.col1 .weather .temp {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.col.col2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background-image: url("../assets/img/blob1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col.col2 .col2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50rem;
}

.col.col2 .col2__container .presentation p {
  color: white;
  font-size: 1.5rem;
}

.col.col2 .col2__container .joke_display {
  width: 58%;
  color: white;
  line-height: 1.25rem;
}

.col.col2 .col2__container .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col.col2 .col2__container .actions img {
  width: 5%;
  padding: 1rem;
}

.col.col2 .col2__container .actions:hover {
  cursor: pointer;
}

.col.col2 .col2__container .next {
  width: 12rem;
  background-color: #ffd83d;
  border: 1px black solid;
  padding: 0.5rem 0;
  border-radius: .75rem;
}

.col.col2 .col2__container .next:hover {
  cursor: pointer;
}

.col.col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 5rem;
}

.col.col3 img {
  width: 50%;
}
/*# sourceMappingURL=custom.css.map */