html, body
    margin: 0
    padding: 0
    box-sizing: border-box

body
    height: 100vh;

.container
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    gap
.col
    display: flex
    &.col1
        display: flex
        justify-content: end
        align-items: end
        margin-bottom: 5rem
        img
            width: 50%

    &.col2
        display: flex
        img
            position: relative
        .actions
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

        button
            padding: .5rem 1rem
            border-radius: .75rem
            background: hsl(46, 81%, 62%)
            
    &.col3
        display: flex
        justify-content: start
        align-items: start
        margin-top: 5rem
        img
            width: 50%


